*{
	margin: 0px;
	padding: 0px;
}
body {
    font-family: 'Sofia';
    font-size: 22px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('bg.png');
    background-size: cover;
}
@media only screen and(max-width: 768px){
	body{
		background-image: url('bg0.png');
	}
}
form{
	backdrop-filter: blur(18px);
	background-color: rgba(0, 0, 0, 0);
	padding: 30px 100px 30px 100px;
	border-radius: 20px;
	color: white;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	 display: grid;
	 place-items: center;
}
.form{

	box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.4);
	border-radius: 20px;
	transform: scale(1.2);
}
.head{
	text-align: center;
	font-size: 35px;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
label{
	display: block;
	
	margin: 5px 0px -8px 2px;
	font-size: 12px;
	font-family: "Montserrat","Sofia";
	font-weight:300;

}
.in{
	background-color: transparent;
	border: 1px rgba(255, 255, 255, 0.4) solid;
	padding: 3px 0px 3px 8px;
	border-radius: 20px;
	transition: box-shadow 0.5s;
	color: white;
}
.in:hover{
box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4) inset,0px 0px 10px rgba(255, 255, 255, 0.4);
caret-color: white;

}
.in:focus {
    outline: none;
    padding-left: 5px;
    caret-color: white;
}
input[type='text']{
		text-transform: capitalize;
}



button{
	margin-top: 17px;
	padding: 1px 20px 1px 20px;
	background-color: transparent;
	border: 1px rgba(255, 255, 255, 0.8) solid;
	color: white;
	border-radius: 10px;
	transition: box-shadow 0.4s,transform 0.4s;

}
button:hover{
	background-color: rgba(78, 117, 156, 0.1);
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4) inset,0px 0px 10px rgba(255, 255, 255, 0.4);
	 transform: scale(1.1); 
}

.bot{
font-size: 15px;
}
a{
	text-decoration: none;
	color: white;
	text-shadow: 0px 0px 3px rgba(255, 255, 255, 1) ;

}